.pagination {
    display: inline-block !important;
    padding-left: 0;
    margin: 0px !important;
    border-radius: 4px;
}
.js_error_span {
    height:2px;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-color: #fff;*/
	background-color: rgba(0, 0, 0, 0.70);
	opacity: 0.9;
	/* change if the mask should have another color then white */
	z-index: 1052;
	/* makes sure it stays on top */
}

#loading-image {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
	height: 60px;
	width: 60px;
	/*background-color: black;*/
	border-radius: 10px;
}
